{% extends 'MaryWebBundle::layout.html.twig' %}

{% block title %}{{ 'User'|trans}} - {{ parent() }}{% endblock %}

{% block main %}
    <h3>User center</h3><a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>{{ hello_service.say(app.user.username) }}</p>
        {% if app.user.avatar %}
            <p>{{ uploadedThumbImg(app.user.avatar, 'small') }}</p>
            <p>{{ uploadedThumbImg(app.user.avatar, 'medium') }}</p>
            <p>{{ uploadedThumbImg(app.user.avatar, 'large') }}</p>
        {% endif %}
    {% endif %}
{% endblock %}