{% extends 'MaryWebBundle::layout.html.twig' %}

{% block title %}{{ 'Login'|trans}} - {{ parent() }}{% endblock %}

{% block page_styles %}
    {{ webMacro.webAssetCss('login.css') }}
    {#{{ assetCss('https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css') }}#}
{% endblock %}

{% block page_scripts %}
    {{ webMacro.webAssetJs('login.js') }}
    {#{{ assetJs('https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js') }}#}
{% endblock %}

{% block main %}
    <h3 class="login-title">Login page</h3>
    {#{{ webMacro.webAssetImg('baidu.png', '500', '200') }}#}
    {#{{ assetImg('https://www.baidu.com/img/bd_logo1.png') }}#}
    <div class="login-form">
        <form action="{{ path('login') }}" method="post">
            {% if error %}
                <p style="color: #f00;">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" value="{{ lastUsername }}">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}